@import '../../SCSS/abstracts/variables';

@mixin flexbox($direction, $aligncontent, $justify, $alignitems) {
    display: flex;
    flex-direction: $direction;
    align-content: $aligncontent;
    justify-content: $justify;
    align-items: $alignitems;
}

@mixin primary-btn {
    @include flexbox(row, center, center, center);
    width: 150px;
    height: 40px;
    background-color: $primary-color;
    color: #ffff;
    border-radius: 20px;
    cursor: pointer;
}

@mixin active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-15%);
  }

@mixin secundary-btn {
    @include flexbox(row, center, center, center);
    width: 150px;
    height: 40px;
    background-color: $secundary-color;
    color: #ffff;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

@mixin third-btn {
    @include flexbox(row, center, space-evenly, center);
    width: 150px;
    height: 40px;
    background-color: none;
    color: $secundary-color;
    border: 1px solid $secundary-color;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

@mixin degradado {
    background: linear-gradient(0deg, $primary-color, $secundary-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


@mixin p-large($weight) {
    font-size: 1rem;
    font-weight: $weight;
    color: $grey1;
}

@mixin p-regular($weight) {
    font-size: 0.8rem;
    font-weight: $weight;
    color: $grey1;
}

@mixin p-small($weight) {
    font-size: 0.64rem;
    font-weight: $weight;
    color: $grey1;
}

@mixin hiArrow {
    font-size: 1.875rem;
    color: white;
    cursor: pointer;
}

@mixin hiOutlinePencil {
    font-size: 2.25rem;
    cursor: pointer;
}


@mixin iOutlineXCircle {
    font-size: 1.875rem;
    cursor: pointer;
}