@import '../../SCSS/abstracts/variables';

@mixin flexbox($direction, $aligncontent, $justify, $alignitems) {
    display: flex;
    flex-direction: $direction;
    align-content: $aligncontent;
    justify-content: $justify;
    align-items: $alignitems;
}
