@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --font-lato:"Lato", sans-serif;
}

$primary-color: #01ADEE;
$primary-focus: #99DEF8;
$secundary-color: #161E46;
$third-color: #ECECEC;
$grey1:#4D4D4D;
$grey2:#999999;
$grey3:#E6E6E6;



