@use '../src/SCSS/abstracts/mixins' as *;
@import '../src/SCSS/abstracts/variables';

.container{
    @include flexbox(column, center, center, center);
    width: 100vh;

    .ulMessage {
        /* max-width: 800px;
        margin: 10px auto; */
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      
      .liMessage {
        background-color: lightblue;
        border: 2px solid dodgerblue;
        padding: 10px 20px;
        color: black;
      }
}

