@use '../src/SCSS/abstracts/mixins' as *;
@import '../src/SCSS/abstracts/variables';

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



.container {
    @include flexbox(column, center, center, center);
    margin: 0 auto;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    width: 400px;

    h2 {
        font-weight: 400;
        color: cyan;
        font-size: 3rem;
        margin: 0;
    }

    .chatSection {
        @include flexbox(column, center, center, center);
        width: 100%;


        .ulMessage {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        .liMessage {
            margin: 0;
            padding: 0;
            color: rgb(14, 14, 14);
            font-size: 0.8rem;
            width: 100%;

            p {
                margin: 5px;
                width: 100%;
                border: 2px solid $primary-color;
                padding: 5px;
                background-color: $grey3;
            }
        }

    }


    .messageInputSection {
        position: fixed;
        bottom: 5px;
        width: 90%;
        display: flex;
        align-items: center;
     
        input {
            width: 100%;
            padding: 5px;
            border-radius: 0;
            height: 30px;
            margin-block: 1rem;
            background-color: $grey1;
            border: 1px solid black;
            color: white;
            outline: none;
        }

        button {
            height: 40px;
            width: 40px;
            background-color: black;
            color: #ffff;
            cursor: pointer;
            border: none;
            font-size: 1.5rem;
        }

        button:hover {
            /* border: 1px solid cyan; */
            background-color: white;
            color: black;
            border-radius: 0;
        }

        button:active {
            border-radius: 0;
            transform: translateY(-15%);
        }
    }

}